<h3>Spoof a SMS</h3>
<h4>You may send up to 3 messages a day to US numbers</h4>
<% if user_signed_in? %>
  <h5>Today's count is <%= current_user.spoofs.today.count %> message</h5>
<% end %>

<% if user_signed_in? %>
<%= form_for(@spoof) do |f| %>
<% if @spoof.errors.any? %>
<ul>
<% @spoof.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
<% end %>
  <%= f.text_field :number, placeholder: '281-444-2323' %>
  <%= f.text_field :body, placeholder: '160 chars or less' %>
  <%= f.button 'Send', class: 'btn btn-small btn-warning' %>

<% end %>
<% else %>
<%= link_to 'Login to Send a Message', new_user_session_path, class: 'btn btn-small btn-danger' %>
<% end %>

<% @spoofs.each do |s| %>
  <li><%= s.body %> | <%= s.user.username %> to: <%= s.number %></li>
<% end %>
